.navbar-scroll {
  background-color: #17b2ff;
  z-index: 2;
  height: 80px;
}
.nav-link{
  color:azure;
  font-size: 18px; 
  font-family: Arial, sans-serif;
  margin-right: 10px;
}
.nav-link:hover{
  color:rgb(225, 218, 13);
}
.image-container{
  margin-top: 80px;
  z-index: 1;
}
.navbar-brand {
  padding-left: 2rem;
}
i.bi-house {
  font-size: 30px;
  color: rgb(219, 231, 158);
}
