body { 
  padding-top: 60px; 
}
.btn-outline-success {
  color: #fff;
  background-color: #17b2ff;
  border-color: #17b2ff;
}
.btn-outline-success:hover {
  color: #fff;
  background-color: #0e83c4;
  border-color: #0e83c4;
}
.navbar {
  background-color: #17b2ff;
  z-index: 2;
  height: 80px;
}
.navbar-collapse {
  background-color: #17b2ff;
}
.nav-link{
  color:azure;
  font-size: 18px; 
  font-family: Arial, sans-serif;
  margin-right: 10px;
}
.nav-link:hover{
  color:rgb(225, 218, 13);
}
.navbar-brand {
  padding-left: 2rem;
}
i.bi-house {
  font-size: 30px;
  color: rgb(219, 231, 158);
}
#frase{
  background-color: #bcb7b7;
}
.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
.container-2 {
  display: flex;
  flex-direction: column;
  margin-top: 80px;
  overflow-x: hidden;
}

h1 {
  text-align: center;
  margin: 20px 0;
}

.row {
  display: flex;
  flex-grow: 1;
}

.col {
  flex-basis: 0;
  flex-grow: 1;
  margin: 10px;
  border: 1px solid #ccc;
  padding: 10px;
  overflow: hidden;
}
.img-show{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.titolo{
  color: #11063a;
  font-size: 60px;
  font-family: Arial, sans-serif;
  margin-top: 50px;
}
.opportunita{
  color: #0e435e; 
}
.jumbotron{
  margin-top: 80px;
  background-color:rgba(99, 105, 102, 0.587);
}
.jumbotron p{
  color: #11011e;
  font-size: 20px;
  font-family: Arial, sans-serif;
  padding-left: 10px;
  padding-right: 10px;
}
#contatti {
  padding-top:30px;
  display: flex;
  flex-direction: column;
  background-color: #bcb7b7;
  overflow-x: hidden;
}
.card-header{
  background-color: #17b2ff;
  color: azure;
  font-size: 20px;
  font-family: Arial, sans-serif;
}
.jvectormap-region {
  fill: #2196F3;
  cursor: pointer;
}
.map-container{
  padding-top: 30px;
  background-color:#ccc;
  margin-bottom: 0;
  overflow: hidden;
}
@media (max-width: 800px) {
  #map {
    background-color: #eee7e7b6;
    width: 100%;
    height: 43vh; 
  }
  .titolo-2-container{
    height:43vh;
  }
}
@media (max-width: 1200px) and  (min-width: 800px){
  #map {
    background-color: #eee7e7b6;
    width: 100%;
    height: 390px; 
  }
}
@media (min-width: 1200px) and (max-width: 1350px) {
  #map {
    background-color: #eee7e7b6;
    width: 100%;
    height: 450px; 
  }
}
@media (min-width: 1350px) {
  #map {
    background-color: #eee7e7b6;
    width: 100%;
    height: 550px; 
  }
}

#text-area{
  margin-left: 5px;
  margin-top: 6px;
  padding-bottom: 3vh;
  background-color: #ccc;
  z-index: 2;
  background-color: white;
  border: 1px solid #2196F3;
  height: 23vh;
  overflow: auto;
}
#text-area-2{
  margin-left: 5px;
  margin-top: 3px;
  padding-bottom: 3vh;
  background-color: #ccc;
  z-index: 2;
  background-color: white;
   border: 1px solid #2196F3;
   height: 5vh;
   overflow: auto;
}
.title{
  margin-top: 2vh;
  color: #2196F3;
  font-size: 22px;
  font-family: Arial, sans-serif;
  text-align: center;
  font-weight: bold;
}
