/* cerca di ordinare in modo alfabetico */

body {
    background-color: #cff1ff;
    overflow-x: hidden;
}

.card {
    margin: 1vw;
}

.card-title {
    font-style: italic;
}

.card-body {
    font-size: 1em;
}

#cerca {
  margin-top: 8vh;
}

#form{
  background-color: #98d0fe;
  grid-area: a;
}

#forms {
    background-color: #fffff9;
    padding-top: 115px;
}

#forms > #row{
    display: flex;
    flex-grow: 1;
    flex-direction: row;
    margin: auto;
    width: 90%;
}

#forms .titolo {
  text-align: center;
}

img {
  display: block;
  float: left;
  height: 50vh;
  object-fit: cover;
  width:  40vw;
  margin-left: 2%;
  margin-right: 2%;
  border: 5px solid red
}

input {
  width: 70%;
  margin-left: 15%;
}

.jumbotron {
    padding:  10px;
}

.jvectormap-marker:hover{
  fill: #f34821;
  r:8;
  stroke-width: 4,
}

#main {
  width: 100%;
  height: 90vh;
  display: grid;
  grid-template: 'a b b';
  padding-top: 55px;
}

#map-container {
  grid-area: b;
  background-color: #2196F3;
}

#map {
  border: #453532;
  margin-top: 10px;
  height: 88vh;
  width: 70vw;
}

#nome{
  height: 2vh;
}

.jvectormap-container {
  width: 100%;
  height: 100%;
}

.text-area{
    background-color: #ccc;
    background-color: white;
    border: 1px solid #2196F3;
    font-size: 1.25vmax;
    margin:auto;
    overflow: auto;
    width: 80%;
    z-index: 2;
}

#text-content{
  height:15vh;
}

.title{
    color: #453532;
    font-family: Arial, sans-serif;
    font-size: 3vmin;
    font-weight: bold;
    margin-top: 2vh;
    text-align: center;
}

/* @media (max-width: 1200px) {
    
    #map {
        height: 45vh;
        width: 100%;
    }
} */


/*  ALTRE @MEDIA dello scorso file, penso non necessarie
@media (max-width: 800px) {
    
    #map {
      background-color: #eee7e7b6;
      height: 43vh;
      width: 100%;
  }
    .titolo-2-container{
      height:43vh;
  }
}
  @media (max-width: 1200px) and  (min-width: 800px){
    
    #map {
      background-color: #eee7e7b6;
      height: 390px;
      width: 100%;
  }
}
  @media (min-width: 1200px) and (max-width: 1350px) {
    
    #map {
      background-color: #eee7e7b6;
      height: 450px;
      width: 100%;
  }
}
  @media (min-width: 1350px) {
    
    #map {
      background-color: #eee7e7b6;
      height: 550px;
      width: 100%;
  }
} */
