.navbar {
    background-color: #17b2ff;
    padding-left: 10px;
    height: 80px;
}

.navbar-collapse {
  padding-right: 10px;
}

.nav-link{
    font-size: 20px; 
    font-family: Arial, sans-serif;
    margin: 5px;
    color:azure;
}

.dropdown-menu ul li p {
    padding: 2px ;
    position: relative;
    right: 0;
}

.navbar-brand {
  color: aliceblue;
  font-size: 40px;
}